.mission_text{
    margin-top: 20px;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 151%;
    color: #828282;
}


 .mission_row{
    margin-top: 100px;
}


/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
      .aboutus_container{
        margin-top: 100px;
    
    }


       .mission_row{
        margin-top: 30px;
    }
    
    
}

 /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
      
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }