#network_card{

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
min-height: 54px;
display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
left: 17px;
max-width: 90%;


}

#network_div{
    background-image: linear-gradient(to top right, #26ADCB, rgb(191 233 241));
}


#network_card_text{
    font-family: Philosopher;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 125.5%;
/* or 33px */

letter-spacing: 0.005em;
text-transform: uppercase;

/* primary400 */

color: #0091AC;
margin-left: 20px;
margin-right: 20px;
text-align: center;
/* margin: auto 15px; */
margin-top:  15px; 


}

#network_card_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#globe_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
    top: 3px;
}


@media (min-width: 576px) { 
    
 }

@media (min-width: 768px) {
    #network_card_div{
        display: flex;
        flex-direction: row;
    
    }
    #network_card_text{

    margin: auto 15px;

    
    
    }
    
 }

@media (min-width: 992px) { 
    
 }

@media (min-width: 1200px) {
    
}