.wel_container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.wel_card {
  background-color: white;
  margin-top: 50px;
}

.wel_card_inner {
  width: 20%;
  min-width: 155px;
  position: relative;
  height: auto;
  margin-top: 30px;
}

.user_image {
  width: 100%;
  min-width: 155px;
  height: auto;
  margin-top: 20px;
  border-radius: 50%;
  border: 11px solid #ade3ed;
}

.logo_image {
  width: 30%;
  min-width: 70px;
  height: auto;
  position: absolute;
  bottom: -20px;
  right: 0px;
}

.text_div {
  width: 50%;
  margin-top: 10px;
  font-size: 30px;
  line-height: 125.5%;
  text-align: center;
  text-transform: uppercase;
  color: #bdd7db;
  font-family: Cairo;
  font-style: normal;
  font-weight: bold;
}
