.map_container {
  margin-bottom: 0px;
  background: #f6fbfc;
}
@media (min-width: 992px) {
  .map_container {
    padding-bottom: 100px;
  }
}

.map_wrapper {
  width: 100%;
  height: 290px;
}
@media (min-width: 768px) {
  .map_wrapper {
    margin-top: 100px;
    width: 100%;
    height: 500px;
  }
}
