.meta_input {
  width: 100%;
}
.input_div {
  width: 100%;
}

.form_entry {
  max-width: 660px;
  margin: 10px auto;
}

.form_error_text {
  color: red;
}
.react-datepicker-popper {
  z-index: 11111111;
}

.meta_label {
  font-family: Cairo;
  font-size: 20px;
  color: #26adcb;
}
