



#verify_button:hover{
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
}
#verify_button:active{
    position: relative;
    top: 4px;
    box-shadow: inset 0 3px 5px 0 rgba(0,0,0,0.2);
    outline: 0;
}
#verify_button:focus{
    outline: 0;
}



#verify_button{
    width: 253px;
    height: 43px;


    background: #FFFFFF;
    border: 0.5px solid rgba(216, 210, 210, 0.65);
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    text-align: left;
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.41);
    max-width: 90%;
}